.canvas {
  display: block;
}

.assembled-dials {
  offset-path: path("M 54 230");
}

.mode-slider {
  offset-path: path("M 202 230");
}

.title {
  offset-path: path("M 438 50");
}

.clock {
  offset-path: path("M 438 230");
}

.caption {
  offset-path: path("M 438 417");
}

.swap-button {
  offset-path: path("M 438 425");
}
