.rotate-button-cw {
  offset-path: path("M 0 -158");
}

.dial-highlighter {
  offset-path: path("M 0 0");
}

.triad-dial {
  offset-path: path("M 0 0");
}

.rotate-button-ccw {
  offset-path: path("M 0 135");
}
