.rotate-button-cw {
  offset-path: path("M -26 -158");
}

.sharp-button {
  offset-path: path("M 26 -158");
}

.dial-highlighter {
  offset-path: path("M 0 0");
}

.triad-dial {
  offset-path: path("M -26 0");
}

.rank-dial {
  offset-path: path("M 26 0");
}

.rotate-button-ccw {
  offset-path: path("M -26 135");
}

.flat-button {
  offset-path: path("M 26 135");
}
