.canvas {
  display: block;
  max-width: 430px;
}

.assembled-rank-dial {
  offset-path: path("M 40 200");
}

.rotate-button-ccw {
  offset-path: path("M 265 30");
}

.rotate-button-cw {
  offset-path: path("M 335 30");
}

.clock {
  offset-path: path("M 300 200");
}

.caption {
  offset-path: path("M 300 365");
}
