.canvas {
  display: block;
  max-width: 450px;
}

.assembled-slider {
  offset-path: path("M 40 182");
}

.title {
  offset-path: path("M 300 30");
}

.clock {
  offset-path: path("M 300 182");
}

.caption {
  offset-path: path("M 300 340");
}
