@use "@shared/utilities/animation" as animation;


.label {
  offset-path: path("M 0 -115");
  text-anchor: middle;
  font-weight: 500;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.dial-inner {
  offset-path: path("M 0 5");
  offset-rotate: 0deg;

  &.move-up {
    animation: move animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 35");
  }

  &.move-down {
    animation: move animation.$duration ease-in-out 1 forwards;
    offset-path: path("M 0 5 L 0 -25");
  }
}
