.header {
  height: 60px;
  background: linear-gradient(to right, rgb(139, 40, 70), rgb(207, 133, 114));
}

.inner {
  height: 60px;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: var(--mantine-font-size-md);
  font-weight: 48em;

  &:hover {
    background-color: rgba(240, 240, 240, 0.2);
  }
}

.drawer-items {
  .link {
    color: black;
    padding: 18px 16px;

    &:hover {
      background-color: rgba(240, 240, 240);
    }
  }
}
